<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />  
    <section name="abot" type="Abot.Core.AbotConfigurationSectionHandler, Abot" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] [%-5level] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="abotlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%-3thread] [%-5level] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="OFF" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <abot>
    <crawlBehavior 
      maxConcurrentThreads="11" 
      maxPagesToCrawl="33" 
      maxPagesToCrawlPerDomain="333" 
      maxPageSizeInBytes="4444" 
      userAgentString="aaaa"
      httpProtocolVersion="1.0"
      crawlTimeoutSeconds="44" 
      downloadableContentTypes="bbbb" 
      isUriRecrawlingEnabled="true" 
      isExternalPageCrawlingEnabled="true" 
      isExternalPageLinksCrawlingEnabled="true" 
      httpServicePointConnectionLimit="21" 
      httpRequestTimeoutInSeconds="22" 
      httpRequestMaxAutoRedirects="23" 
      isHttpRequestAutoRedirectsEnabled="true" 
      isHttpRequestAutomaticDecompressionEnabled="true" 
      isSendingCookiesEnabled="true" 
      isSslCertificateValidationEnabled="false" 
      isRespectUrlNamedAnchorOrHashbangEnabled="true" 
      minAvailableMemoryRequiredInMb="25" 
      maxMemoryUsageInMb="26" 
      maxMemoryUsageCacheTimeInSeconds="27" 
      maxCrawlDepth="28" 
      maxLinksPerPage="29" 
      isForcedLinkParsingEnabled="true" 
      maxRetryCount="4" 
      minRetryDelayInMilliseconds="4444" />
    <politeness 
      isRespectRobotsDotTextEnabled="true" 
      isRespectMetaRobotsNoFollowEnabled="true" 
      isRespectHttpXRobotsTagHeaderNoFollowEnabled="true" 
      isRespectAnchorRelNoFollowEnabled="true" 
      isIgnoreRobotsDotTextIfRootDisallowedEnabled="true" 
      robotsDotTextUserAgentString="zzzz" 
      maxRobotsDotTextCrawlDelayInSeconds="5" 
      minCrawlDelayPerDomainMilliSeconds="55" />
    <authorization 
      isAlwaysLogin="true" 
      loginUser="test" 
      loginPassword="dummyPass"
      useDefaultCredentials="false" />
    <extensionValues>
      <add key="key1" value="value1" />
      <add key="key2" value="value2" />
    </extensionValues>
  </abot>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
<system.net>
  <defaultProxy enabled="true">
    <proxy bypassonlocal="false" proxyaddress="http://localhost:8889/"></proxy>
  </defaultProxy>
</system.net>
</configuration>
