@using Abot.SiteSimulator.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Site Simulator</h2>

<!-- 24005 pages expected -->
@*<a href="/PageGenerator/Generate?Status200Count=500&Status403Count=10&Status404Count=20&Status500Count=30&Status503Count=40&Page=1">Page1</a>
<a href="/PageGenerator/Generate?Status200Count=500&Status403Count=10&Status404Count=20&Status500Count=30&Status503Count=40&Page=2">Page2</a>
<a href="/PageGenerator/Generate?Status200Count=500&Status403Count=10&Status404Count=20&Status500Count=30&Status503Count=40&Page=3">Page3</a>
<a href="/PageGenerator/Generate?Status200Count=500&Status403Count=10&Status404Count=20&Status500Count=30&Status503Count=40&Page=4">Page4</a>*@

<!-- 61 pages expected -->
<a href="/PageGenerator/Generate?Status200Count=5&Status403Count=1&Status404Count=2&Status500Count=3&Status503Count=4&Page=1">Page1</a>
<a href="/PageGenerator/Generate?Status200Count=5&Status403Count=1&Status404Count=2&Status500Count=3&Status503Count=4&Page=2">Page2</a>
<a href="/PageGenerator/Generate?Status200Count=5&Status403Count=1&Status404Count=2&Status500Count=3&Status503Count=4&Page=3">Page3</a>
<a href="/PageGenerator/Generate?Status200Count=5&Status403Count=1&Status404Count=2&Status500Count=3&Status503Count=4&Page=4">Page4</a>
<a href="http://yahoo.com/">Yahoo</a>
<a href="http://zoogle.com/">Zoogle</a>
